/TeamBuilding/packages
/TeamBuilding/TeamBuilding/*.cs
/TeamBuilding/TeamBuilding/*.tt
/TeamBuilding/TeamBuilding/*.edmx
/TeamBuilding/TeamBuilding/*.diagram
/TeamBuilding/TeamBuilding/obj
/TeamBuilding/.vs

/Фінал/TeamBuilding/TeamBuilding/obj
/Фінал/TeamBuilding/TeamBuilding/*.cs
/Фінал/TeamBuilding/TeamBuilding/*.tt
/Фінал/TeamBuilding/TeamBuilding/*.edmx
/Фінал/TeamBuilding/TeamBuilding/*.diagram
/Фінал/TeamBuilding/packages
/Фінал/TeamBuilding/.vs

/Fix/TeamBuilding/TeamBuilding/obj
/Fix/TeamBuilding/TeamBuilding/*.cs
/Fix/TeamBuilding/TeamBuilding/*.tt
/Fix/TeamBuilding/TeamBuilding/*.edmx
/Fix/TeamBuilding/TeamBuilding/*.diagram
/Fix/TeamBuilding/packages
/Fix/TeamBuilding/.vs

/Fix2.0/TeamBuilding/TeamBuilding/obj
/Fix2.0/TeamBuilding/TeamBuilding/*.cs
/Fix2.0/TeamBuilding/TeamBuilding/*.tt
/Fix2.0/TeamBuilding/TeamBuilding/*.edmx
/Fix2.0/TeamBuilding/TeamBuilding/*.diagram
/Fix2.0/TeamBuilding/packages
/Fix2.0/TeamBuilding/.vs
